.jfx-button{
    -jfx-button-type:RAISED;
    -fx-background-color: aqua;
    -fx-text-fill: black;
    -jfx-disable-visual-focus : false;
}

#itemtextarea{
-fx-background-color: lightblue;
-fx-text-fill:black;
-fx-font-size: 20;
}

#itemtextarea *.text {
    -fx-text-alignment: center;
}

.Button{
-fx-background-color: lightblue;   
}